*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
@font-face {
    font-family: 'HelveticaBold';
    src: url(fonts/FontsFree-Net-AG_Helvetica-Bold.ttf);
}
@font-face {
    font-family: 'HelveticaRoman';
    src: url(fonts/Helvetica\ W01\ Roman.ttf);
}
@font-face {
    font-family: 'FuturaLight';
    src: url(fonts/FontsFree-Net-Futura-BT-W01-Light.ttf);
}
@font-face {
    font-family: 'FuturaLight-lt';
    src: url(fonts/Futura\ Light.ttf);
}
@font-face {
    font-family: 'ProximaNova';
    src: url(fonts/Proxima\ Nova\ Regular.ttf);
}

html{
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
    overflow-y: scroll;
    align-items: start;
    justify-content: stretch;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    background: #000000;
    color: #fff;
}

#Site_Container{
    position: relative;
}

.LHrbPP {
    background: #fff;
    border-radius: 24px;
    color: #116dff;
    cursor: pointer;
    font-family: Helvetica,Arial,メイリオ,meiryo,ヒラギノ角ゴ pro w3,hiragino kaku gothic pro,sans-serif;
    font-size: 14px;
    height: 0;
    left: 50%;
    margin-left: -94px;
    opacity: 0;
    padding: 0 24px 0 24px;
    pointer-events: none;
    position: absolute;
    top: 60px;
    width: 0;
    z-index: 25;
}

#site_root{
    min-width: var(980px);
    width: 100%;
    margin: 0 auto;
    min-height: 100%;
    position: relative;
}

#masterPage{
    margin-left: 0;
    width: 100%;
    min-width: 980px;
}

#masterPage, .masterPage{
    align-items: start;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: max-content max-content min-content max-content;
    justify-content: stretch;
    margin-left: 0;
    width: 100%;
    min-width: 980px;
}

.pinned{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    height: calc(100% - var(0px));
    left: 0;
    margin-top: var(0px);
    position: fixed;
    top: 0;
    width: 100%;
    pointer-events: auto;
}
#logo{
    width: 177px;
    height: 67px;
    justify-content: start;
    margin-left: 20px;
    align-self: start;
    margin-top: 20px;
    grid-area: 1/1/2/2;
    pointer-events: auto;
    cursor: pointer;
}
.logo{
    cursor: pointer;
}
.LumosStudio{
    display: block;
    box-sizing: border-box;
    -webkit-transform: rotate(353deg);
    -moz-transform: rotate(353deg);
    -o-transform: rotate(353deg);
    -ms-transform: rotate(353deg);
    transform: rotate(353deg);
}
.resizelogo{
    height: 67px;
    width: 177px;
}

#SITE_HEADER{
    left: 0;
    margin-left: 0;
    width: 100%;
    min-width: 980px;
    z-index: 49;
    --above-all-in-container: 10000;
}
.lvxhkV {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}
.VrZrC0 {
    position: relative;
    width: 100%;
    height: auto;
}
#blankspace{
    position: static;
    display: grid;
    height: auto;
    width: 100%;
    min-height: 300px;
    margin-top: -207px;
}
#Siteheader{
    position: relative;
    grid-area: 1/1/2/2;
}

#Page_Container{
    margin-top: 96px;
    position: relative;
    align-self: stretch;
    display: block;
    grid-area: 3/1/4/2;
    margin-top: 0px;
    margin-bottom: 0px;
    left: 0;
    margin-left: 0;
    width: 100%;
    min-width: 980px;
    --pinned-layer-in-container: 51;
    --above-all-in-container: 49;
}

#Site_Pages{
    position: relative;
    left: 0;
    margin-left: 0;
    width: 100%;
    height: 100%;
    min-width: 980px;
}
.Site_Pages{
    overflow-x: clip;
}

#Mid{
    width: auto;
    min-height: 1015px;
    left: 0;
    margin-left: 0;
    min-width: 980px;
    position: relative;
}
#MidAbout{
    width: auto;
    min-height: 860px;
    left: 0;
    margin-left: 0;
    min-width: 980px;
    position: relative;
}
#MidWork{
    width: auto;
    min-height: 1515px;
    left: 0;
    margin-left: 0;
    min-width: 980px;
    position: relative;
}
#MidPROJ{
    width: auto;
    min-height: 500px;
    left: 0;
    margin-left: 0;
    min-width: 980px;
    position: relative;
}
#MidServices{
    width: auto;
    min-height: 973px;
    left: 0;
    margin-left: 0;
    min-width: 980px;
    position: relative;
}
#MidResume{
    width: auto;
    min-height: 1390px;
    left: 0;
    margin-left: 0;
    min-width: 980px;
    position: relative;
}
#MidContact{
    width: auto;
    min-height: 514px;
    left: 0;
    margin-left: 0;
    min-width: 980px;
    position: relative;
}
.space{
    margin-left: calc((100% - var(980px))/2);
    width: var(980px);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.midContainer{
    height: auto;
    position: relative;
    width: 100%;
}

[data-mesh-id=homeContainerContentgrid]{
    position: static;
    display: grid;
    height: auto;
    width: 100%;
    min-height: 1015px;
    grid-template-rows: repeat(15, min-content) 1fr;
    grid-template-columns: 100%;
    padding-bottom: 0px;
    box-sizing: border-box;
}
h6{
    display: block;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: lighter;
}
a {
    cursor: pointer;
    text-decoration: none;
    font-size: 13px;
}
span {
    font-family: 'FuturaLight';
    color: rgb(255, 255, 255);
    text-align: start;
}
#home-n1{
    height: auto;
    width: 76px;
}
#home-n2{
    height: auto;
    width: 150 px;
}
#home-n3{
    height: auto;
    min-height: 11px;
    width: 76px;
}
#home-n4{
    height: auto;
    min-height: 20px;
    width: 76px;
}
#home-n5{
    height: auto;
    width: 106px;
}

[data-mesh-id=homeContainerContentgrid] > [id="comp-spacer"] {
    position: relative;
    margin: 6px 0px 0 calc((100% - 980px) * 0.5);
    grid-area: 2/1/6/2;
    justify-content: start;
    align-self: start;
}
[data-mesh-id=homeContainerContentgrid] > [id="home-n1"] {
    position: relative;
    margin: 0px 0px 65px calc((100% - 980px)*0.5);
    left: 837px;
    grid-area: 6/1/7/2;
    justify-self: start;
    align-self: start;
}
[data-mesh-id=homeContainerContentgrid] > [id="home-n2"] {
    position: relative;
    margin: 0px 0px 10px calc((100% - 980px)*0.5);
    left: 0px;
    grid-area: 8/1/9/2;
    justify-self: start;
    align-self: start;
}
[data-mesh-id=homeContainerContentgrid] > [id="home-n3"] {
    position: relative;
    margin: 0px 0px 10px calc((100% - 980px)*0.5);
    left: 1px;
    grid-area: 2/1/3/2;
    justify-self: start;
    align-self: start;
}
[data-mesh-id=homeContainerContentgrid] > [id="home-n4"] {
    position: relative;
    margin: 0px 0px 10px calc((100% - 980px)*0.5);
    left: 837px;
    grid-area: 11/1/12/2;
    justify-self: start;
    align-self: start;
}
[data-mesh-id=homeContainerContentgrid] > [id="home-n5"] {
    position: relative;
    margin: 0px 0px 17px calc((100% - 980px)*0.5);
    left: 0px;
    grid-area: 15/1/16/2;
    justify-self: start;
    align-self: start;
}

#home-02{
    width: 54px;
    height: 67px;
}
a.numbers{
    height: 67px;
    align-items: center;
    box-sizing: border-box;
    display: flex;
    justify-content: var(flex-start);
    min-width: 100%;
    text-align: initial;
    width: max-content;
    position: absolute;
}
#home-03{
    width: 54px;
    height: 67px;
}
#home-01{
    width: 54px;
    height: 67px;
}
#home-04{
    width: 54px;
    height: 67px;
}
#home-05{
    width: 54px;
    height: 67px;
}
#home-pic{
    width: 600px;
    height: 801px;
}

.home-02 a span{
    font-family: 'HelveticaBold';
    color: rgb(255, 255, 255);
    font-size: 48px;
    display: inline-block;
    opacity: 0;
    transform: translateX(-80px);
    transition: transform 2s, opacity 0.5s;
    transition-delay: 2s;
    margin-top: 8px;
}
.home-02 a span.active{
    transform: translateX(0px);
    opacity: 1;
}
.home-03 a span{
    font-family: 'HelveticaBold';
    color: rgb(255, 255, 255);
    font-size: 48px;
    display: inline-block;
    opacity: 0;
    transform: translateX(-80px);
    transition: transform 2s, opacity 0.5s;
    transition-delay: 2.5s;
    margin-top: 8px;
}
.home-03 a span.active{
    transform: translateX(0px);
    opacity: 1;
}
.home-01 a span{
    font-family: 'HelveticaBold';
    color: rgb(255, 255, 255);
    font-size: 48px;
    display: inline-block;
    opacity: 0;
    transform: translateX(-80px);
    transition: transform 2s, opacity 0.5s;
    transition-delay: 3s;
    margin-top: 8px;
}
.home-01 a span.active{
    transform: translateX(0px);
    opacity: 1;
}
.home-04 a span{
    font-family: 'HelveticaBold';
    color: rgb(255, 255, 255);
    font-size: 48px;
    display: inline-block;
    opacity: 0;
    transform: translateX(-80px);
    transition: transform 2s, opacity 0.5s;
    transition-delay: 3.5s;
    margin-top: 8px;
}
.home-04 a span.active{
    transform: translateX(0px);
    opacity: 1;
}
.home-05 a span{
    font-family: 'HelveticaBold';
    color: rgb(255, 255, 255);
    font-size: 48px;
    display: inline-block;
    opacity: 0;
    transform: translateX(-80px);
    transition: transform 2s, opacity 0.5s;
    transition-delay: 4s;
    margin-top: 8px;
}
.home-05 a span.active{
    transform: translateX(0px);
    opacity: 1;
}
a.h01 span:hover {
    color: rgb(0, 58, 250);
    transition: 0.4s;
}
a.h02 span:hover {
    color: rgb(253, 127, 127);
    transition: 0.4s;
}
a.h03 span:hover {
    color: rgb(250, 152, 0);
    transition: 0.4s;
}
a.h04 span:hover {
    color: rgba(250, 225, 0);
    transition: 0.4s;
}
a.h05 span:hover {
    color: rgba(112, 3, 225);
    transition: 0.4s;
}
.home-pic{
    display: block;
    overflow: hidden;
    box-sizing: border-box;
}
.resizemidpic{
    width: 600px;
    height: 801px;
    object-fit: cover;
}

[data-mesh-id=homeContainerContentgrid] > [id="home-02"] {
    position: relative;
    margin: 0px 0px 0 calc((100% - 980px) * 0.5);
    left: 837px;
    grid-area: 4/1/5/2;
    justify-self: start;
    align-self: start;
}
[data-mesh-id=homeContainerContentgrid] > [id="home-03"] {
    position: relative;
    margin: 0px 0px 0 calc((100% - 980px) * 0.5);
    left: 0px;
    grid-area: 7/1/8/2;
    justify-self: start;
    align-self: start;
}
[data-mesh-id=homeContainerContentgrid] > [id="home-01"] {
    position: relative;
    margin: 90px 0px 0 calc((100% - 980px) * 0.5);
    left: 1px;
    grid-area: 1/1/2/2;
    justify-self: start;
    align-self: start;
}
[data-mesh-id=homeContainerContentgrid] > [id="home-04"] {
    position: relative;
    margin: 0px 0px 0 calc((100% - 980px) * 0.5);
    left: 837px;
    grid-area: 10/1/11/2;
    justify-self: start;
    align-self: start;
}
[data-mesh-id=homeContainerContentgrid] > [id="home-05"] {
    position: relative;
    margin: 0px 0px 0 calc((100% - 980px) * 0.5);
    left: 0px;
    grid-area: 13/1/14/2;
    justify-self: start;
    align-self: start;
}
[data-mesh-id=homeContainerContentgrid] > [id="home-pic"] {
    position: relative;
    margin: 90px 0px -34px calc((100% - 980px) * 0.5);
    left: 195px;
    grid-area: 1/1/15/2;
    justify-self: start;
    align-self: start;
}
#comp-juplenas{
    width: 39px;
    height: 160px;
}
[data-mesh-id=homeContainerContentgrid] > [id="comp-juplenas"] {
    position: relative;
    margin: 0px 0px 0 calc((100% - 980px) * 0.5);
    left: 756px;
    grid-area: 16/1/17/2;
    justify-self: start;
    align-self: start;
}
.Widget_rcptext{
    font-family: 'HelveticaBold';
    font-size: 57px;
    line-height: 80px;
    color: rgb(0, 0, 0);
}
[data-mesh-id=homeContainerContentgrid-wedge-4] {
    visibility: hidden;
    height: 269px;
    width: 0;
    grid-area: 1/1/4/2;
}
[data-mesh-id=homeContainerContentgrid-wedge-10] {
    visibility: hidden;
    height: 603px;
    width: 0;
    grid-area: 1/1/10/2;
}
[data-mesh-id=homeContainerContentgrid-wedge-13] {
    visibility: hidden;
    height: 790px;
    width: 0;
    grid-area: 1/1/13/2;
}
 
#header{
    width: 100%;
    height: 100vh;
}


#menuIcon{
    width: 35px;
    position: fixed;
    top: 33px;
    right: 60px;
    cursor: pointer;
    z-index: 100;
}

.menu-box{
    width: 0;
    height: 0;
    background: rgba(0,0,0,10);
    background-image: url("images/menubackground2.png");
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    border-bottom-left-radius: 100%;
    transition: width 2.5s, border-radius 0.5s;
}

.menu-box.open-menu{
    width: 100%;
    height: 100vh;
    border-bottom-left-radius: 0;
}

.menu-box.open-menu ul li{
    opacity: 1;
    transform: translateY(0);
    transition: transform 1s, opacity 1s;
    transition-delay: 0.5s;
}

.menu-box ul li{
    list-style: none;
    margin: 20px;
    text-align: center;

    opacity: 0;
    transform: translateY(30px);
}

.menu-box ul li a{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-size: 50px;
    font-weight: 600;
    position: relative;
    text-shadow: 0 0 0 red;
    transition: text-shadow 0.5s, transform 0.5s;
}

.menu-box ul li a:hover{
    text-shadow: -3px 3px 0 red;
    transform: translateY(-6px);
}

.menu-box ul li a::after{
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    bottom: 10px;
    right: -18px;
    opacity: 0;
    box-shadow: 0 0 0 red;
    transition: box-shadow 0.5s;
}

.menu-box ul li a:hover::after{
    opacity: 1;
    box-shadow: -2px 2px 0 red;
}

#SITE_FOOTER_WRAPPER{
    grid-area: 4/1/5/2;
    position: relative;
}
#SITE_FOOTER{
    position: relative;
    left: 0;
    margin-left: 0;
    width: 100%;
    min-width: 980px;
}
.FOOTER, .FOOTERSPACE{
    position: relative;
    width: 100%;
}
[data-mesh-id=SITE_FOOTERinlineCONTENT]{
    height: auto;
    width: 100%;
    position: relative;
}
[data-mesh-id=SITE_FOOTERinlineContent-gridContainer]{
    position: static;
    display: grid;
    height: auto;
    width: 100%;
    min-height: auto;
    grid-template-rows: 1fr;
    grid-template-columns: 100%;
}
#copyright{
    height: auto;
    width: 210px;
}
[data-mesh-id=SITE_FOOTERinlineContent-gridContainer] > [id="copyright"]{
    position: relative;
    margin: 8px 0px 9px calc((100% - 980px)* 0.5);
    justify-self: start;
    align-self: start;
    left: 992px;
    grid-area: 1/1/2/2;
    font-family: "ProximaNova";
    font-weight: 400;
}
.copyright p span{
    line-height: 1.6em;
    font-size: 15px;
    color: rgb(129, 129, 129);
}


@media only screen and (max-width: 900px){
    #header{
        background-image: url(images/.png);
    }
    .header-text{
        margin-top: 100%;
        font-size: 16px;
    }
    .header-text h1{
        font-size: 30px;
    }
    nav .fa-solid{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background: #ff004f;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .sub-title{
        font-size: 40px;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .about-col-2{
        font-size: 14px;
    }
    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }
    .contact-left, .contact-right{
        flex-basis: 100%;
    }
    .copyright{
        font-size: 14px;
    }
}
#msg{
    color: #61b752;
    margin-top: -10px;
    display: block;
}





[data-mesh-id=aboutContainerContentgrid] {
    position: static;
    display: grid;
    height: auto;
    width: 100%;
    min-height: 860px;
    grid-template-rows: repeat(4, min-content) 1fr;
    grid-template-columns: 100%;
    padding-bottom: 0;
    box-sizing: border-box;
}
#comp-line1{
    border-color: rgba(171, 171, 171,1);
    left: -100%;
    margin-left: 0;
    width: 100%;
    height: 5px;
    animation: slide 2s forwards;
    animation-delay: 1s;
}
@keyframes slide {
    100% { left: 0; }
}
[data-mesh-id=aboutContainerContentgrid] > [id="comp-line1"] {
    position: relative;
    margin: 80px 0px 10px calc((100% - 980px) * 0.5);
    grid-area: 1/1/2/2;
    justify-self: start;
    align-self: start;
}
.comp-line1{
    border-top: 5px solid rgba(171, 171, 171,1);
    box-sizing: border-box;
}
.Branch{
    overflow-wrap: break-word;
    pointer-events: none;
    text-align: start;
}
#comp-ABOUT{
    height: auto;
    width: 227px;
}
[data-mesh-id=aboutContainerContentgrid] > [id="comp-ABOUT"] {
    position: relative;
    margin: 44px 0px 10px calc((100% - 980px) * 0.5);
    left: 0px;
    grid-area: 1/1/2/2;
    justify-self: start;
    align-self: start;
}
.comp-ABOUT{
    margin: 0;
    letter-spacing: normal;
    line-height: normal;
}
.font_3 span{
    font-family: 'HelveticaBold';
    font-size: 60px;
    color: rgb(255, 255, 255);
}
#comp-imageA{
    width: 433px;
    height: 629px;
}
[data-mesh-id=aboutContainerContentgrid] > [id="comp-imageA"] {
    position: relative;
    margin: 0px 0px 10px calc((100% - 980px) * 0.5);
    left: 0px;
    grid-area: 3/1/6/2;
    justify-self: start;
    align-self: start;
}
.imageA{
    display: block;
    overflow: hidden;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}
.resizeimageA{
    width: 433px;
    height: 629px;
    object-fit: cover;
}
#comp-paraname{
    min-height: 26px;
    height: auto;
    width: 131px;
}
[data-mesh-id=aboutContainerContentgrid] > [id="comp-paraname"] {
    position: relative;
    margin: 0px 0px 12px calc((100% - 980px) * 0.5);
    left: 447px;
    grid-area: 3/1/4/2;
    justify-self: start;
    align-self: start;
}
.comp-paraname{
    margin: 0;
    letter-spacing: normal;
    line-height: normal;
}
.font_3 span{
    font-weight: bold;
    font-size: 20px;
    font-family: 'FuturaLight';
    color: rgb(255, 255, 255);
    opacity: 0;
    display: inline-block;
    transform: translateX(-150px);
    transition: transform 3s, opacity 0.5s;
    transition-delay: 0.5s;
}
.font_3 span.active{
    transform: translateX(0px);
    opacity: 1;
}
#comp-textbody{
    height: auto;
    width: 668px;
}
[data-mesh-id=aboutContainerContentgrid] > [id="comp-textbody"] {
    position: relative;
    margin: 0px 0px 0 calc((100% - 980px) * 0.5);
    left: 447px;
    grid-area: 4/1/5/2;
    justify-self: start;
    align-self: start;
}
.comp-textbody{
    margin: 0;
    letter-spacing: normal;
    line-height: normal;
}
.comp-textbody span{
    font-size: 15px;
    font-family: 'FuturaLight';
    color: rgb(255, 255, 255);
}
[data-mesh-id=aboutContainerContentgrid-wedge-3] {
    visibility: hidden;
    height: 189px;
    width: 0;
    grid-area: 1/1/3/2;
}





[data-mesh-id=workContainerContentgrid] {
    position: static;
    display: grid;
    height: auto;
    width: 100%;
    min-height: 1515px;
    grid-template-rows: repeat(7, min-content)1fr;
    grid-template-columns: 100%;
    padding-bottom: 0px;
    box-sizing: border-box;
}
#comp-line2{
    color: rgba(252, 0, 0, 1);
    transform-origin: center 3px;
    left: -100%;
    margin-left: 0;
    width: 100%;
    min-width: initial;
    height: 5px;
    animation: slide 2s forwards;
    animation-delay: 1s;
}
@keyframes slide {
    100% { left: 0; }
}
[data-mesh-id=workContainerContentgrid] > [id="comp-line2"] {
    position: relative;
    margin: 58px 0px 10px calc((100% - 980px) * 0.5);
    grid-area: 1/1/2/2;
    justify-self: stretch;
    align-self: start;
}
.comp-line2{
    border-top:  5px solid rgba(252, 0, 0, 1);
    box-sizing: border-box;
}
#comp-WORK{
    min-height: 72px;
    height: auto;
    width: 527px;
}
[data-mesh-id=workContainerContentgrid] > [id="comp-WORK"] {
    position: relative;
    margin: 22px 0px 10px calc((100% - 980px) * 0.5);
    left: 0px;
    grid-area: 1/1/2/2;
    justify-self: start;
    align-self: start;
}
.font_4 span a span{
    font-size: 36px;
    font-family: 'HelveticaRoman';
    font-weight: 100;
    color: rgb(255, 255, 255);
    opacity: 0;
    display: inline-block;
    transform: translateX(50px);
    transition: transform 3s, opacity 0.5s;
    transition-delay: 0.5s;
}
.font_4 span a span.active{
    transform: translateX(0px);
    opacity: 1;
}
#comp-P1{
    width: 479px;
    height: 502px;
}
[data-mesh-id=workContainerContentgrid] > [id="comp-P1"] {
    position: relative;
    margin: 1px 0px -7px calc((100% - 980px) * 0.5);
    left: -230px;
    grid-area: 3/1/4/2;
    justify-self: start;
    align-self: start;
}
.Pimage{
    display: block;
    overflow: hidden;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    cursor: pointer;
    text-decoration: none;
}
.resizeP1{
    width: 479px;
    height: 502px;
    object-fit: cover;
    overflow: hidden;
}
#comp-PN1{
    height: auto;
    width: 430px;
}
[data-mesh-id=workContainerContentgrid] > [id="comp-PN1"] {
    position: relative;
    margin: 440px 0px 20px calc((100% - 980px) * 0.5);
    left: -224px;
    grid-area: 3/1/4/2;
    justify-self: start;
    align-self: start;
}
#comp-P4{
    width: 479px;
    height: 500px;
}
[data-mesh-id=workContainerContentgrid] > [id="comp-P4"] {
    position: relative;
    margin: 0px 0px 0px calc((100% - 980px) * 0.5);
    left: -230px;
    grid-area: 4/1/5/2;
    justify-self: start;
    align-self: start;
}
.resizeP4{
    width: 479px;
    height: 500px;
    object-fit: cover;
    overflow: hidden;
}
#comp-PN4{
    height: auto;
    width: 430px;
}
[data-mesh-id=workContainerContentgrid] > [id="comp-PN4"] {
    position: relative;
    margin: 440px 0px 20px calc((100% - 980px) * 0.5);
    left: -224px;
    grid-area: 4/1/5/2;
    justify-self: start;
    align-self: start;
}
#comp-P2{
    width: 479px;
    height: 502px;
}
[data-mesh-id=workContainerContentgrid] > [id="comp-P2"] {
    position: relative;
    margin: 1px 0px -1px calc((100% - 980px) * 0.5);
    left: 246px;
    grid-area: 3/1/4/2;
    justify-self: start;
    align-self: start;
}
.resizeP2{
    width: 479px;
    height: 502px;
    object-fit: cover;
    overflow: hidden;
}
#comp-PN2{
    height: auto;
    width: 430px;
}
[data-mesh-id=workContainerContentgrid] > [id="comp-PN2"] {
    position: relative;
    margin: 440px 0px 20px calc((100% - 980px) * 0.5);
    left: 257px;
    grid-area: 3/1/4/2;
    justify-self: start;
    align-self: start;
}
#comp-P7{
    width: 479px;
    height: 505px;
}
[data-mesh-id=workContainerContentgrid] > [id="comp-P7"] {
    position: relative;
    margin: -2px 0px 0px calc((100% - 980px) * 0.5);
    left: -230px;
    grid-area: 5/1/6/2;
    justify-self: start;
    align-self: start;
}
.resizeP7{
    width: 479px;
    height: 505px;
    object-fit: cover;
    overflow: hidden;
}
#comp-PN7{
    height: auto;
    width: 430px;
}
[data-mesh-id=workContainerContentgrid] > [id="comp-PN7"] {
    position: relative;
    margin: 400px 0px 20px calc((100% - 980px) * 0.5);
    left: -224px;
    grid-area: 5/1/6/2;
    justify-self: start;
    align-self: start;
}
#comp-P3{
    width: 479px;
    height: 502px;
}
[data-mesh-id=workContainerContentgrid] > [id="comp-P3"] {
    position: relative;
    margin: 1px 0px -1px calc((100% - 980px) * 0.5);
    left: 722px;
    grid-area: 3/1/4/2;
    justify-self: start;
    align-self: start;
}
.resizeP3{
    width: 479px;
    height: 502px;
    object-fit: cover;
    overflow: hidden;
}
#comp-PN3{
    height: auto;
    width: 430px;
}
[data-mesh-id=workContainerContentgrid] > [id="comp-PN3"] {
    position: relative;
    margin: 440px 0px 20px calc((100% - 980px) * 0.5);
    left: 732px;
    grid-area: 3/1/4/2;
    justify-self: start;
    align-self: start;
}
#comp-P5{
    width: 479px;
    height: 500px;
}
[data-mesh-id=workContainerContentgrid] > [id="comp-P5"] {
    position: relative;
    margin: 0px 0px 0px calc((100% - 980px) * 0.5);
    left: 246px;
    grid-area: 4/1/5/2;
    justify-self: start;
    align-self: start;
}
.resizeP5{
    width: 479px;
    height: 500px;
    object-fit: cover;
    overflow: hidden;
}
#comp-PN5{
    height: auto;
    width: 430px;
}
[data-mesh-id=workContainerContentgrid] > [id="comp-PN5"] {
    position: relative;
    margin: 440px 0px 20px calc((100% - 980px) * 0.5);
    left: 256px;
    grid-area: 4/1/5/2;
    justify-self: start;
    align-self: start;
}
#comp-P6{
    width: 479px;
    height: 500px;
}
[data-mesh-id=workContainerContentgrid] > [id="comp-P6"] {
    position: relative;
    margin: 0px 0px 0px calc((100% - 980px) * 0.5);
    left: 722px;
    grid-area: 4/1/5/2;
    justify-self: start;
    align-self: start;
}
.resizeP6{
    width: 479px;
    height: 500px;
    object-fit: cover;
    overflow: hidden;
}
#comp-PN6{
    height: auto;
    width: 430px;
}
[data-mesh-id=workContainerContentgrid] > [id="comp-PN6"] {
    position: relative;
    margin: 440px 0px 20px calc((100% - 980px) * 0.5);
    left: 732px;
    grid-area: 4/1/5/2;
    justify-self: start;
    align-self: start;
}
#comp-P8{
    width: 479px;
    height: 505px;
}
[data-mesh-id=workContainerContentgrid] > [id="comp-P8"] {
    position: relative;
    margin: -2px 0px 0px calc((100% - 980px) * 0.5);
    left: 246px;
    grid-area: 5/1/6/2;
    justify-self: start;
    align-self: start;
}
.resizeP8{
    width: 479px;
    height: 505px;
    object-fit: cover;
    overflow: hidden;
}
#comp-PN8{
    height: auto;
    width: 430px;
}
[data-mesh-id=workContainerContentgrid] > [id="comp-PN8"] {
    position: relative;
    margin: 400px 0px 20px calc((100% - 980px) * 0.5);
    left: 257px;
    grid-area: 5/1/6/2;
    justify-self: start;
    align-self: start;
}
[data-mesh-id=workContainerContentgrid-wedge-3] {
    visibility: hidden;
    height: 166px;
    width: 0;
    grid-area: 1/1/3/2;
}





[data-mesh-id=PROJContainerContentgrid]{
    position: static;
    display: grid;
    height: auto;
    width: 100%;
    min-height: 500px;
    grid-template-rows: repeat(21, min-content) 1fr;
    grid-template-columns: 100%;
    padding-bottom: 0px;
    box-sizing: border-box;
}
#PROJinfocontainer{
    min-width: 980px;
    left: 0;
    margin-left: 0;
    width: 100%;
}
[data-mesh-id=PROJContainerContentgrid] > [id="PROJinfocontainer"] {
    position: relative;
    margin: 0px 0px -155px calc((100% - 980px) * 0.5);
    grid-area: 1/1/2/2;
    justify-self: start;
    align-self: start;
}
.PROJdescontainer{
    display: flex;
    margin: 0 auto;
    position: relative;
    width: calc(100% - 0*2);
}
[data-mesh-id=comp-PROJdescontainer] {
    height: auto;
    width: 100%;
    display: flex;
}
[data-mesh-id=comp-PROJdescontainergrid] {
    position: static;
    display: grid;
    height: auto;
    width: 100%;
    min-height: 601px;
    margin-top: -1px;
    grid-template-rows: repeat(4, min-content)1fr;
    grid-template-columns: 100%;
}
[data-mesh-id=comp-Pbackbtnarea] {
    position: static;
    height: 23px;
    width: 0;
    margin: 0px 0px 27px calc((100% - 980px) * 0.5);
    grid-area: 1/1/2/2;
    justify-self: start;
    align-self: start;
}
.font_4 span{
    font-family: 'HelveticaRoman';
}
#comp-PROJtitle{
    height: auto;
    width: 750px;
}
[data-mesh-id=comp-PROJdescontainergrid] > [id="comp-PROJtitle"] {
    position: relative;
    margin: 0px 0px 0 calc((100% - 980px) * 0.5);
    left: 0px;
    grid-area: 2/1/3/2;
    justify-self: start;
    align-self: start;
}
.font_9{
    font-family: 'FuturaLight-lt';
    font-size: 15px;
    line-height: 20px;
    color: rgb(255, 255, 255);
}
#comp-PROJsubtitle{
    height: auto;
    width: 400px;
}
[data-mesh-id=comp-PROJdescontainergrid] > [id="comp-PROJsubtitle"] {
    position: relative;
    margin: 0px 0px 28px calc((100% - 980px) * 0.5);
    left: 0px;
    grid-area: 3/1/4/2;
    justify-self: start;
    align-self: start;
}
#comp-PROJpara{
    min-height: 138px;
    height: auto;
    width: 980px;
}
[data-mesh-id=comp-PROJdescontainergrid] > [id="comp-PROJpara"] {
    position: relative;
    margin: 0px 0px 45px calc((100% - 980px) * 0.5);
    left: 0px;
    grid-area: 4/1/5/2;
    justify-self: start;
    align-self: start;
}
#comp-line2a{
    color: rgba(129, 129, 129, 1);
    transform-origin: center 0.5px;
    width: 284px;
    height: 1px;
}
.comp-line2a{
    border-top: 1px solid rgba(129, 129, 129, 1);
    box-sizing: border-box;
}
[data-mesh-id=comp-PROJdescontainergrid] > [id="comp-line2a"] {
    position: relative;
    margin: 0px 0px 10px calc((100% - 980px) * 0.5);
    left: 348px;
    grid-area: 5/1/6/2;
    justify-self: start;
    align-self: start;
}
#comp-image1{
    width: 700px;
    height: 550px;
}
.comp-projimage{
    top: auto;
    z-index: -1;
}
[data-mesh-id=PROJContainerContentgrid] > [id="comp-image1"] {
    position: relative;
    margin: 0px 0px -155px calc((100% - 980px) * 0.5);
    grid-area: 2/1/3/2;
    justify-self: start;
    align-self: start;
}
.image1{
    display: block;
    overflow: hidden;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}
.img1{
    object-fit: cover;
    height: auto;
    width: 700px;
}
.font_1 span{
    font-size: 19px;
    font-family: 'FuturaLight-lt';
    font-weight: lighter;
    color: rgb(255, 255, 255);
    opacity: 0;
    display: inline-block;
    transform: translateX(0px);
    transition: transform 3s, opacity 0.5s;
    transition-delay: 0.5s;
}
.font_1 span.active{
    transform: translateX(0px);
    opacity: 1;
}
#comp-text1{
    min-height: 25px;
    height: auto;
    width: 95px;
}
[data-mesh-id=PROJContainerContentgrid] > [id="comp-text1"] {
    position: relative;
    margin: 250px 0px 10px calc((100% - 980px) * 0.5);
    left: 790px;
    grid-area: 2/1/5/2;
    justify-self: start;
    align-self: start;
}
#comp-text3{
    min-height: 25px;
    height: auto;
    width: 95px;
}
[data-mesh-id=PROJContainerContentgrid] > [id="comp-text3"] {
    position: relative;
    margin: 250px 0px 10px calc((100% - 980px) * 0.5);
    left: 770px;
    grid-area: 9/1/10/2;
    justify-self: start;
    align-self: start;
}
#comp-text5{
    min-height: 25px;
    height: auto;
    width: 95px;
}
[data-mesh-id=PROJContainerContentgrid] > [id="comp-text5"] {
    position: relative;
    margin: 250px 0px 10px calc((100% - 980px) * 0.5);
    left: 760px;
    grid-area: 13/1/14/2;
    justify-self: start;
    align-self: start;
}
#comp-image2{
    width: 700px;
    height: 550px;
}
[data-mesh-id=PROJContainerContentgrid] > [id="comp-image2"] {
    position: relative;
    margin: 0px 0px 10px calc((100% - 980px) * 0.5);
    grid-area: 7/1/8/2;
    justify-self: start;
    align-self: start;
}
.image2{
    display: block;
    overflow: hidden;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}
.img2{
    object-fit: cover;
    height: auto;
    width: 700px;
    object-position: 50% 50%;
}
#comp-text2{
    min-height: 25px;
    height: auto;
    width: 95px;
}
[data-mesh-id=PROJContainerContentgrid] > [id="comp-text2"] {
    position: relative;
    margin: 250px 0px 10px calc((100% - 980px) * 0.5);
    left: 875px;
    grid-area: 7/1/8/2;
    justify-self: start;
    align-self: start;
}
#comp-image3{
    width: 700px;
    height: 550px;
}
[data-mesh-id=PROJContainerContentgrid] > [id="comp-image3"] {
    position: relative;
    margin: 0px 0px 10px calc((100% - 980px) * 0.5);
    grid-area: 9/1/10/2;
    justify-self: start;
    align-self: start;
}
.image3{
    display: block;
    overflow: hidden;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}
.img3{
    object-fit: cover;
    height: auto;
    width: 700px;
    object-position: 50% 50%;
}
#comp-image4{
    width: 700px;
    height: 550px;
}
[data-mesh-id=PROJContainerContentgrid] > [id="comp-image4"] {
    position: relative;
    margin: 0px 0px 10px calc((100% - 980px) * 0.5);
    grid-area: 11/1/12/2;
    justify-self: start;
    align-self: start;
}
.image4{
    display: block;
    overflow: hidden;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}
.img4{
    object-fit: cover;
    height: auto;
    width: 700px;
    object-position: 50% 50%;
}
#comp-text4{
    min-height: 25px;
    height: auto;
    width: 95px;
}
[data-mesh-id=PROJContainerContentgrid] > [id="comp-text4"] {
    position: relative;
    margin: 250px 0px 10px calc((100% - 980px) * 0.5);
    left: 875px;
    grid-area: 11/1/12/2;
    justify-self: start;
    align-self: start;
}
#comp-image5{
    width: 700px;
    height: 550px;
}
[data-mesh-id=PROJContainerContentgrid] > [id="comp-image5"] {
    position: relative;
    margin: 0px 0px 10px calc((100% - 980px) * 0.5);
    grid-area: 13/1/14/2;
    justify-self: start;
    align-self: start;
}
.image5{
    display: block;
    overflow: hidden;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}
.img5{
    object-fit: cover;
    height: auto;
    width: 700px;
    object-position: 50% 50%;
}
#comp-image6{
    width: 700px;
    height: 550px;
}
[data-mesh-id=PROJContainerContentgrid] > [id="comp-image6"] {
    position: relative;
    margin: 0px 0px 10px calc((100% - 980px) * 0.5);
    grid-area: 14/1/15/2;
    justify-self: start;
    align-self: start;
}
.image6{
    display: block;
    overflow: hidden;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}
.img6{
    object-fit: cover;
    height: auto;
    width: 700px;
    object-position: 50% 50%;
}
#comp-text6{
    min-height: 50px;
    height: auto;
    width: 95px;
}
[data-mesh-id=PROJContainerContentgrid] > [id="comp-text6"] {
    position: relative;
    margin: 250px 0px 10px calc((100% - 980px) * 0.5);
    left: 875px;
    grid-area: 14/1/15/2;
    justify-self: start;
    align-self: start;
}
#comp-verticalline1{
    color: rgba(66, 66, 66, 1);
    transform-origin: center 0.5px;
    width: 1px;
    height:2870px;
}
.comp-verticalline1{
    border-top: 1px solid rgba(66, 66, 66, 1);
    box-sizing: border-box;
}
[data-mesh-id=PROJContainerContentgrid] > [id="comp-verticalline1"] {
    position: relative;
    margin: 255px 0px -320px calc((100% - 980px) * 0.5);
    left: 857px;
    grid-area: 2/1/15/2;
    justify-self: start;
    align-self: start;
}
#comp-verticalline7{
    color: rgba(66, 66, 66, 1);
    transform-origin: center 0.5px;
    width: 1px;
    height:1750px;
}
.comp-verticalline7{
    border-top: 1px solid rgba(66, 66, 66, 1);
    box-sizing: border-box;
}
[data-mesh-id=PROJContainerContentgrid] > [id="comp-verticalline7"] {
    position: relative;
    margin: 255px 0px -320px calc((100% - 980px) * 0.5);
    left: 857px;
    grid-area: 2/1/15/2;
    justify-self: start;
    align-self: start;
}
#comp-verticalline2{
    color: rgba(66, 66, 66, 1);
    transform-origin: center 0.5px;
    width: 1px;
    height: 2000px;
}
.comp-verticalline2{
    border-top: 1px solid rgba(66, 66, 66, 1);
    box-sizing: border-box;
}
[data-mesh-id=PROJContainerContentgrid] > [id="comp-verticalline2"] {
    position: relative;
    margin: 320px 0px -548px calc((100% - 980px) * 0.5);
    left: 857px;
    grid-area: 9/1/13/2;
    justify-self: start;
    align-self: start;
}
#comp-verticalline3{
    color: rgba(66, 66, 66, 1);
    transform-origin: center 0.5px;
    width: 1px;
    height: 970px;
}
.comp-verticalline3{
    border-top: 1px solid rgba(66, 66, 66, 1);
    box-sizing: border-box;
}
[data-mesh-id=PROJContainerContentgrid] > [id="comp-verticalline3"] {
    position: relative;
    margin: 323px 0px -401px calc((100% - 980px) * 0.5);
    left: 857px;
    grid-area: 13/1/14/2;
    justify-self: start;
    align-self: start;
}
#comp-dot1{
    width: 19px;
    height: 19px;
}
[data-mesh-id=PROJContainerContentgrid] > [id="comp-dot1"] {
    position: relative;
    margin: 253px 0px 10px calc((100% - 980px) * 0.5);
    left: 848px;
    grid-area: 2/1/4/2;
    justify-self: start;
    align-self: start;
}
[data-mesh-id=PROJContainerContentgrid] > [id="comp-dot2"] {
    position: relative;
    margin: 253px 0px 10px calc((100% - 980px) * 0.5);
    left: 848px;
    grid-area: 7/1/8/2;
    justify-self: start;
    align-self: start;
}
[data-mesh-id=PROJContainerContentgrid] > [id="comp-dot3"] {
    position: relative;
    margin: 253px 0px 10px calc((100% - 980px) * 0.5);
    left: 848px;
    grid-area: 9/1/10/2;
    justify-self: start;
    align-self: start;
}
[data-mesh-id=PROJContainerContentgrid] > [id="comp-dot4"] {
    position: relative;
    margin: 253px 0px 10px calc((100% - 980px) * 0.5);
    left: 848px;
    grid-area: 11/1/12/2;
    justify-self: start;
    align-self: start;
}
[data-mesh-id=PROJContainerContentgrid] > [id="comp-dot5"] {
    position: relative;
    margin: 253px 0px 10px calc((100% - 980px) * 0.5);
    left: 848px;
    grid-area: 13/1/14/2;
    justify-self: start;
    align-self: start;
}
[data-mesh-id=PROJContainerContentgrid] > [id="comp-dot6"] {
    position: relative;
    margin: 253px 0px 10px calc((100% - 980px) * 0.5);
    left: 848px;
    grid-area: 14/1/15/2;
    justify-self: start;
    align-self: start;
}
.comp-dot1, .comp-dot2, .comp-dot3, .comp-dot4, .comp-dot5, .comp-dot6{
    width: 19px;
    height: 19px;
    border-radius: 50%;
    background: rgba(253, 127, 127, 1);
}


[data-mesh-id=PROJContainerContentgrid-wedge-6] {
    visibility: hidden;
    height: 190px;
    width: 0;
    grid-area: 3/1/7/2;
}
[data-mesh-id=PROJContainerContentgrid-wedge-11] {
    visibility: hidden;
    height: 600px;
    width: 0;
    grid-area: 9/1/11/2;
}






[data-mesh-id=servicesContainerContentgrid] {
    position: static;
    display: grid;
    height: auto;
    width: 100%;
    min-height: 973px;
    grid-template-rows: repeat(2, min-content)1fr;
    grid-template-columns: 100%;
    padding-bottom: 0px;
    box-sizing: border-box;
}
#comp-line3{
    color: rgba(255, 51, 235, 1);
    transform-origin: center 3px;
    left: -100%;
    margin-left: 0;
    width: 100%;
    min-width: initial;
    height: 5px;
    animation: slide 2s forwards;
    animation-delay: 1s;
}
@keyframes slide {
    100% { left: 0; }
}
[data-mesh-id=servicesContainerContentgrid] > [id="comp-line3"] {
    position: relative;
    margin: 36px 0px 10px 0;
    grid-area: 1/1/2/2;
    justify-self: stretch;
    align-self: start;
}
.comp-line3{
    border-top:  5px solid rgba(255, 51, 235, 1);
    box-sizing: border-box;
}
#comp-SERVICES{
    height: auto;
    width: 348px;
}
[data-mesh-id=servicesContainerContentgrid] > [id="comp-SERVICES"] {
    position: relative;
    margin: 0px 0px 43px calc((100% - 980px) * 0.5);
    left: -156px;
    grid-area: 1/1/2/2;
    justify-self: stretch;
    align-self: start;
}
#comp-servicesconatiner{
    height: auto;
    min-width: 980px;
    width: 90%;
    align-self: start;
    justify-self: center;
    margin-top: 140px;
    grid-area: 1/1/2/2;
    position: relative;
}
.sMcontainer{
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}
#sMrow1, #sMrow2, #sMrow3{
    min-height: 150px;
    height: auto;
    width: calc((33.33% - 0%));
    top: 0px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: minmax(50px,max-content) minmax(100px,max-content);
    grid-template-columns: 1fr 80% 1fr;
    flex-basis: auto;
    position: relative;
}
#sM-image1, #sM-image2, #sM-image3{
    display: unset;
    height: auto;
    width: 100%;
    top: 0px;
    align-self: start;
    justify-self: start;
    grid-area: 1/2/2/3;
    position: relative; 
}
.font_2{
    font-family: 'HelveticaBold';
    font-size: 30px;
    color: rgb(255, 255, 255);
}
#sMnumber1, #sMnumber2, #sMnumber3{
    display: unset;
    height: auto;
    width: 23%;
    display: grid;
    align-self: end;
    justify-self: end;
    margin: 0px 0px -20px 0px;
    grid-area: 1/2/2/4;
    position: relative;
}
#comp-row1container{
    display: unset;
    height: max-content;
    width: 100%;
    top: 0px;
    box-sizing: border-box;
    flex-direction: column;
    display: flex;
    align-self: start;
    justify-self: start;
    margin-top: 1px;
    margin-bottom: 120px;
    grid-area: 2/2/3/3;
    position: relative;
}
#comp-row2container{
    display: unset;
    height: max-content;
    width: 100%;
    top: 0px;
    box-sizing: border-box;
    flex-direction: column;
    display: flex;
    align-self: start;
    justify-self: start;
    margin-top: 0px;
    margin-bottom: 87px;
    grid-area: 2/2/3/3;
    position: relative;
}
#comp-row3container{
    display: unset;
    height: max-content;
    width: 100%;
    top: 0px;
    box-sizing: border-box;
    flex-direction: column;
    display: flex;
    align-self: start;
    justify-self: start;
    margin-top: -60px;
    margin-bottom: 40px;
    grid-area: 2/2/3/3;
    position: relative;
}
#row1para, #row2para, #row3para{
    display: unset;
    height: auto;
    width: 100%;
    margin-top: 12px;
    align-self: center;
    order: 2;
    position: relative;
}

.font_7 span{
    font-family: 'HelveticaBold';
    font-weight: bold;
    font-size: 25px;
    line-height: 1.5;
    color: rgb(255, 255, 255);
    opacity: 0;
    display: inline-block;
    transform: translateX(-150px);
    transition: transform 3s, opacity 0.5s;
    transition-delay: 0.5s;
}
.font_7 span.active{
    transform: translateX(0px);
    opacity: 1;
}
.font_2 span{
    font-family: 'FuturaLight';
    font-size: 16px;
    letter-spacing: 0.03em;
    line-height: 1.8;
    color: rgb(255, 255, 255);
    opacity: 0;
    display: inline-block;
    transform: translateX(-150px);
    transition: transform 3s, opacity 0.5s;
    transition-delay: 0.5s;
}
.font_2 span.active{
    transform: translateX(0px);
    opacity: 1;
}
#row1title, #row2title, #row3title{
    display: unset;
    height: auto;
    width: 100%;
    top: 50px;
    align-self: center;
    order: 1;
    position: relative;
}
#row1para, #row2para, #row3para{
    display: unset;
    height: auto;
    width: 100%;
    top: 50px;
    margin-top: 12px;
    align-self: center;
    order: 2;
    position: relative;
}
#comp-LMbtn{
    min-height: 41px;
    display: unset;
    height: auto;
    width: 140px;
    top: 50px;
    align-self: start;
    justify-self: center;
    margin-top: -55px;
    margin-bottom: 100px;
    grid-area: 2/1/3/2;
    position: relative;
}

.LMbtnbox{
    border-radius: 0px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    position: relative;
    transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
    cursor: pointer;
    align-items: center;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    min-width: 100%;
    text-align: initial;
    background-color: rgba(0, 0, 0, 0);
    border: solid rgb(255, 255, 255);
    border-width: 1px;
}
.LMbtnbox::before{
    content: "";
    align-self: stretch;
    flex-grow: 1;
    flex-shrink: 0;
    width: 0;
}
.LMbtnbox:hover{
    background-color: rgba(165, 22, 22, 1);
    border-color: rgba(var(#000,#fff),var(1,1));
}
span.LM{
    position: relative;
    transition: color 0.4s ease 0s;
}
.LMbtnbox::after{
    content: "";
    align-self: stretch;
    flex-grow: 1;
    flex-shrink: 0;
    width: 0;
}

[data-mesh-id=resumeContainerContentgrid] {
    position: static;
    display: grid;
    height: auto;
    width: 100%;
    min-height: 1390px;
    grid-template-rows: repeat(5, min-content) 1fr;
    grid-template-columns: 100%;
    padding-bottom: 0;
    box-sizing: border-box;
}
[data-mesh-id=comp-backbtnarea] {
    position: static;
    height: 23px;
    width: 0;
    margin: 0px 0px 54px calc((100% - 980px) * 0.5);
    grid-area: 1/1/2/2;
    justify-self: start;
    align-self: start;
}
#comp-backbtn{
    width: 20px;
    height: 22px;
}
.Barrow{
    display: block;
    height: inherit;
    overflow: visible;
    position: relative;
    touch-action: manipulation;
    user-select: none;
    width: inherit;
    z-index: 0;
    cursor: pointer;
    text-decoration: none;
}
.arrow{
    height: inherit;
    position: absolute;
    width: inherit;
}
img.Redbtn{
    width: 20px;
    height: 22px;
    transition: opacity 0.1s ease 0s;
    z-index: 1;
}

img.Redbtn::after{
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 5;
}
#comp-line4{
    color: rgba(250, 225, 0, 1);
    transform-origin: center 3px;
    left: -100%;
    margin-left: 0;
    width: 100%;
    min-width: initial;
    height: 5px;
    animation: slide 2s forwards;
    animation-delay: 1s;
}
@keyframes slide {
    100% { left: 0; }
}
[data-mesh-id=resumeContainerContentgrid] > [id="comp-line4"] {
    position: relative;
    margin: 36px 0px 10px 0;
    grid-area: 2/1/3/2;
    justify-self: stretch;
    align-self: start;
}
.comp-line4{
    border-top: 5px solid rgba(250, 225, 0, 1);
    box-sizing: border-box;
}
#comp-RESUME{
    height: auto;
    width: 787px;
    min-height: 72px;
}
[data-mesh-id=resumeContainerContentgrid] > [id="comp-RESUME"] {
    position: relative;
    margin: 0px 0px 53px calc((100% - 980px) * 0.5);
    left: 0px;
    grid-area: 2/1/3/2;
    justify-self: start;
    align-self: start;
}
#comp-resumeimage{
    width: 1040px;
    height: auto;
}
.resizeresumeimage{
    height: auto;
    width: 1040px;
    object-fit: cover;
}
[data-mesh-id=resumeContainerContentgrid] > [id="comp-resumeimage"] {
    position: relative;
    margin: 0px 0px 58px calc((100% - 980px) * 0.5);
    left: -20px;
    grid-area: 3/1/4/2;
    justify-self: start;
    align-self: start;
}
.resumeimage{
    display: block;
    overflow: hidden;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#comp-DRbtn{
    min-height: 41px;
    display: unset;
    height: auto;
    width: 250px;
    top: 50px;
    align-self: start;
    justify-self: center;
    margin-top: 40px;
    margin-bottom: 100px;
    position: relative;
}
[data-mesh-id=resumeContainerContentgrid] > [id="comp-DRbtn"] {
    position: relative;
    margin: 17px 0px 49px calc((100% - 980px) * 0.5);
    left: -85px;
    grid-area: 5/1/6/2;
    justify-self: start;
    align-self: start;
}
.DRbtnbox{
    border-radius: 0px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    position: relative;
    transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
    cursor: pointer;
    align-items: center;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    min-width: 100%;
    text-align: initial;
    background-color: rgba(0, 0, 0, 0);
    border: solid rgb(255, 255, 255);
    border-width: 1px;
}
.DRbtnbox::before{
    content: "";
    align-self: stretch;
    flex-grow: 1;
    flex-shrink: 0;
    width: 0;
}
.DRbtnbox:hover{
    background-color: rgb(20, 35, 151);
    border-color: rgba(var(#000,#fff),var(1,1));
}
span.DR{
    position: relative;
    transition: color 0.4s ease 0s;
}
.DRbtnbox::after{
    content: "";
    align-self: stretch;
    flex-grow: 1;
    flex-shrink: 0;
    width: 0;
}





[data-mesh-id=contactContainerContentgrid] {
    position: static;
    display: grid;
    height: auto;
    width: 100%;
    min-height: 514px;
    grid-template-rows: repeat(2, min-content)1fr;
    grid-template-columns: 100%;
    padding-bottom: 0px;
    box-sizing: border-box;
}
#comp-imageZ{
    width: 633px;
    height: 463px;
}
[data-mesh-id=contactContainerContentgrid] > [id="comp-imageZ"] {
    position: relative;
    margin: 0px 0px 0px calc((100% - 980px) * 0.5);
    left: 0px;
    grid-area: 1/1/4/2;
    justify-self: start;
    align-self: start;
}
.imageZ{
    display: block;
    overflow: hidden;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}
.resizeimageZ{
    width: 633px;
    height: 463px;
    object-fit: cover;
}
#comp-reachContainer{
    width: 149px;
}
[data-mesh-id=contactContainerContentgrid] > [id="comp-reachContainer"] {
    position: relative;
    margin: 0px 0px 10px calc((100% - 980px) * 0.5);
    left: 650px;
    grid-area: 2/1/3/2;
    justify-self: start;
    align-self: start;
}
[data-mesh-id=reachContainerContent] {
    height: auto;
    width: 149px;
    pointer-events: none;
    position: relative;
}
[data-mesh-id=reachContainerContentgrid] {
    position: static;
    display: grid;
    height: auto;
    width: 100%;
    min-height: auto;
    grid-template-rows: repeat(5, min-content)1fr;
    grid-template-columns: 100%;
}
#comp-InDe{
    height: auto;
    width: 125px;
}
[data-mesh-id=reachContainerContentgrid] > [id="comp-InDE"] {
    position: relative;
    margin: 0px 0px 0 0;
    left: 0px;
    grid-area: 1/1/2/2;
    justify-self: start;
    align-self: start;
}
.font_8{
    font-family: 'FuturaLight';
    color: rgb(171, 171, 171);
}
#comp-HeathS{
    min-height: 20px;
    height: auto;
    width: 76px;
}
[data-mesh-id=reachContainerContentgrid] > [id="comp-HeathS"] {
    position: relative;
    margin: 0px 0px 14px 0;
    left: 0px;
    grid-area: 2/1/3/2;
    justify-self: start;
    align-self: start;
}
.font_6{
    font-family: 'FuturaLight';
    color: rgb(255, 255, 255);
}
#comp-Reachout{
    min-height: 20px;
    height: auto;
    width: 120px;
}
.color_14{
    color: rgb(171, 171, 171);
}
#comp-mail{
    min-height: 20px;
    height: auto;
    width: 160px;
}

[data-mesh-id=reachContainerContentgrid] > [id="comp-media"] {
    position: relative;
    margin: 0px 0px 0 0;
    left: 0px;
    grid-area: 5/1/6/2;
    justify-self: start;
    align-self: start;
}
[data-mesh-id=reachContainerContentgrid] > [id="comp-Reachout"] {
    position: relative;
    margin: 0px 0px 4px 0;
    left: 0px;
    grid-area: 3/1/4/2;
    justify-self: start;
    align-self: start;
}
.font_6{
    font-family: 'FuturaLight';
    color: rgb(255, 255, 255);
}

#comp-line5{
    color: rgb(0, 58, 250);
    transform-origin: center 3px;
    position: absolute;
    left: -100%;
    margin-left: 0;
    width: 100%;
    min-width: initial;
    height: 5px;
    animation: slide 2s forwards;
    animation-delay: 1s;
}
@keyframes slide {
    100% { left: 0; }
}
[data-mesh-id=contactContainerContentgrid] > [id="comp-line5"] {
    position: relative;
    margin: 97px 0px 52px 0;
    grid-area: 1/1/2/2;
    justify-self: stretch;
    align-self: start;
}
.comp-line5{
    border-top: 5px solid rgba(0, 58, 250, 1);
    box-sizing: border-box;
}
#comp-CONTACT{
    min-height: 85px;
    height: auto;
    width: 483px;
}
[data-mesh-id=contactContainerContentgrid] > [id="comp-CONTACT"] {
    position: relative;
    margin: 39px 0px 0 calc((100% - 980px) * 0.5);
    left: 535px;
    grid-area: 1/1/2/2;
    justify-self: start;
    align-self: start;
}
.font_0 span{
    font-weight: bold;
    color: rgb(255, 255, 255);
    opacity: 0;
    display: inline-block;
    transform: translateX(-150px);
    transition: transform 3s, opacity 0.5s;
    transition-delay: 0.5s;
}
.font_0 span.active{
    transform: translateX(0px);
    opacity: 1;
}

